div(class="grid-wrapper")
    a(href="./pages/class-exercises/u1/text-styles.html" class="grid__item grid__item--color-primary done") Texts
    a(href="./pages/class-exercises/u1/images.html" class="grid__item grid__item--color-primary done") Images
    a(href="./pages/class-exercises/u1/tables.html" class="grid__item grid__item--color-primary done") Tables 
    a(href="./pages/class-exercises/u1/forms.html" class="grid__item grid__item--color-primary done") Forms
    a(href="#" class="grid__item undone")
        i(class="fas fa-file")
    a(href="#" class="grid__item undone")
        i(class="fas fa-file")
    a(href="#" class="grid__item undone")
        i(class="fas fa-file")
    a(href="#" class="grid__item undone")
        i(class="fas fa-file")