div(class="grid-wrapper")
    a(href="/pages/homeworks/u1/homework1.html" class="grid__item grid__item--color-secondary") Style Matrix
    a(href="/pages/homeworks/u1/homework2.html" class="grid__item grid__item--color-secondary") Curriculum
    a(href="/pages/homeworks/u1/homework3.html" class="grid__item grid__item--color-secondary") Schedule
    a(href="/pages/homeworks/u2/homework1.html" class="grid__item grid__item--color-secondary new") Criba 
    a(href="#" class="grid__item undone")
        i(class="fas fa-file") 
    a(href="#" class="grid__item undone")
        i(class="fas fa-file")
    a(href="#" class="grid__item undone")
        i(class="fas fa-file")
    a(href="#" class="grid__item undone")
        i(class="fas fa-file")