mixin curriculumHeader(text)
     div.n-mb-md
        h3.flex.curriculum__main__block-title.items-center
            i(class="curriculum__main__block-icon")&attributes(attributes)
            span(class="n-ml-sm")=text