mixin header
    header(class="header")&attributes(attributes)
        a(href="/index.html")
            i(class="header__logo cursor--pointer text-white text--size-lg fas fa-user-astronaut")
        ul(class="menu")
            li(class="menu__item")
                a(href="/index.html" class="menu__item__text") Home
            li(class="menu__item")
                a(href="/pages/homeworks.html" class="menu__item__text") Homeworks