mixin scheduleFooter
    footer(class="schedule-grid-footer flex")
        ul(class="flex")
            li(class="schedule-item") 
                span.text-white.schedule-item__text 
            li(class="schedule-item") 
                span.text-white.schedule-item__text Monday
            li(class="schedule-item")
                span.text-white.schedule-item__text Tuesday
            li(class="schedule-item")
                span.text-white.schedule-item__text Wednesday
            li(class="schedule-item")
                span.text-white.schedule-item__text Thursday
            li(class="schedule-item")
                span.text-white.schedule-item__text Friday