mixin scheduleHeader
    header(class="schedule-grid-header flex")
        ul(class="flex")
            li(class="schedule-item schedule-item--header") 
                span.text-white.schedule-item__text Subject
            li(class="schedule-item schedule-item--header") 
                span.text-white.schedule-item__text Group
            li(class="schedule-item schedule-item--header") 
                span.text-white.schedule-item__text Credits
            li(class="schedule-item schedule-item--header") 
                span.text-white.schedule-item__text Monday
            li(class="schedule-item schedule-item--header")
                span.text-white.schedule-item__text Tuesday
            li(class="schedule-item schedule-item--header")
                span.text-white.schedule-item__text Wednesday
            li(class="schedule-item schedule-item--header")
                span.text-white.schedule-item__text Thursday
            li(class="schedule-item schedule-item--header")
                span.text-white.schedule-item__text Friday